.header {
  padding: 2rem 0rem 0rem 2rem;
}
.header-controls {
  padding: 1rem 2rem;
}

.issues {
  padding: 0rem 1rem;
}

.footer {
  text-align: center;
  padding: 2rem;
}

.issue {
  min-height: 8.5rem;
  position: relative;
  padding: 1rem;
  border: 0px transparent;
  border-radius: 0.4rem;
  .statusIndicator {
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0.3rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }
  .opened {
    background: linear-gradient(135deg, #108548 0%, #7ee6a9 100%);
  }
  .closed {
    background: linear-gradient(135deg, #1f75cb 0%, #87edff 100%);
  }
  .description {
    margin: 0rem 0.5rem;
  }
  .status {
    padding: 0.8rem 0.5rem;
  }
  .label {
    margin: 0.2rem;
  }
}

a,
a:visited {
  color: black;
}
